<div>
  <md-card> <!--title card-->
    <md-card-content>
      <i>I have personally made or contributed to all of the following 
      applications linked below. I own or share ownership of all of the code as 
      all of them are open source.
      </i>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-content>
      <h3 class="md-headline">
        <span>Chrome-neo</span>
        <span>
          <i class="devicon-chrome-plain grey">
            <md-tooltip md-direction="down">Built for Chrome</md-tooltip>
          </i>
          <i class="devicon-javascript-plain grey">
            <md-tooltip md-direction="down">Built with Javascript</md-tooltip>
          </i>
          <i class="devicon-angularjs-plain grey">
            <md-tooltip md-direction="down">Built with Angularjs</md-tooltip>
          </i>
          <i class="devicon-gulp-plain grey" aria-hiden="true">
            <md-tooltip md-direction="down">Built with Gulp</md-tooltip>
          </i>
        </span>
      </h3>
      <div class="md-body-1">
        A chrome extension application made for CSC 492 Senior Design. This extension
        uses data from Asterank.com and NeoWs APIs to provide the user with real NASA data
        about Near Earth Asteroids. 
      </div>
    </md-card-content>
    <md-card-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary"
        href="https://chrome.google.com/webstore/detail/chrome-neo/hggldlbbkkpnclkimhegjccgeaibeceg">
        Web Store
      </md-button>
      <md-button class="md-raised md-primary" 
        href="https://github.com/bradtaniguchi/chrome-neo">
        View Repo
      </md-button>
    </md-card-actions>
  </md-card>
  <md-card>
    <md-card-content>
      <h3 class="md-headline">
        <span>IMSRoomRenter</span>
        <span>
          <i class="devicon-python-plain grey">
            <md-tooltip md-direction="down">Built with Python</md-tooltip>
          </i>
          <i class="devicon-jetbrains-plain grey">
            <md-tooltip md-direction="down">Built with Jetbrains</md-tooltip>
          </i>
        </span>
      </h3>
      <div class="md-body-1">
        A python3 application that keeps track of student study rooms. This 
        application is currently in use at California State University Dominguez Hills's
        Instructional Media Services Department.
        The application uses an sqlite3 database, and tkinter UI.
      </div>
    </md-card-content>
    <md-card-actions layout="row">
      <span flex></span>
      <md-button href="https://github.com/bradtaniguchi/IMSRoomRenter"
        class="md-raised md-primary">View Repo</md-button>
    </md-card-actions>
  </md-card>
  <md-card>
    <md-card-content>
      <h3 class="md-headline">
        <span>IMSTimesheet</span>
        <span>
          <i class="devicon-python-plain grey">
            <md-tooltip md-direction="down">Built with Python</md-tooltip>
          </i>
          <i class="devicon-jetbrains-plain grey">
            <md-tooltip md-direction="down">Built with Jetbrains</md-tooltip>
          </i>
        </span>
        <div class="md-body-1">
          A python3 application that keeps track of employee clock-ins and clock-outs.
          Easily customizable using a plain text file. Uses a sqlite3 database and
          provides a printable output file to review employee times.
          This application is currently in use at California State University Dominguez Hills's
          Instructional Media Services Department.
        </div>
      </h3>
    </md-card-content>
    <md-card-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary"
        href="https://github.com/bradtaniguchi/IMSTimesheet">
        View Repo
      </md-button>
    </md-card-actions>
  </md-card>
  
  <md-card>
    <md-card-content>
      <h3 class="md-headline">
        <span>GoTorosBank</span>
        <span>
          <i class="devicon-java-plain grey">
            <md-tooltip md-direction="down">Built with Java</md-tooltip>
          </i>
          <i class="devicon-linux-plain grey">
            <md-tooltip md-direction="down">Built on Linux</md-tooltip>
          </i>
          <i class="devicon-mysql-plain grey">
            <md-tooltip md-direction="down">Built with Mysql</md-tooltip>
          </i>
          <i class="devicon-bootstrap-plain grey">
            <md-tooltip md-direction="down">Built with Bootstrap</md-tooltip>
          </i>
          <i class="devicon-jquery-plain grey">
            <md-tooltip md-direction="down">Built with Jquery</md-tooltip>
          </i>
        </span>
      </h3>
      <div class="md-body-1">
        A Maven built java application that replicated a real life bank website. 
        The application ran on a Linux server running Tomcat and Mysql. It also used 
        Image recognition, and java's servlet technology. The front-end was done using Jquery and bootstrap.
        Created for California State University Dominguez Hills CSC 481 - Software Engineering.
        This application was created in a group of the following memebers:
        <ul>
          <li>
            Jesus Cortez
          </li>
          <li>
            Josue Flores
          </li>
          <li>
            Daniel Hernandez
          </li>
          <li>
            Crosby Lanham
          </li>
          <li>
            Rudy Leiva
          </li>
          <li>
            DaMond Smith
          </li>
        </ul>
      </div>
    </md-card-content>
    <md-card-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary"
        href="https://github.com/bradtaniguchi/GoTorosBank">
        View Repo
      </md-button>
    </md-card-actions>
  </md-card>
  <md-card>
    <md-card-content>
      <h3 class="md-headline">
        <span>Sottojs</span>
        <span>
          <i class="devicon-javascript-plain grey">
            <md-tooltip md-direction="down">Build with Javascript</md-tooltip>
          </i>
          <i class="devicon-nodejs-plain grey">
            <md-tooltip md-direction="down">Build for Nodejs</md-tooltip>
          </i>
        </span>
      </h3>
      <div class="md-body-1">
        A small nodejs command line utility to create boilerplate code for an Angularjs 1.5+
        application, following the 
        <span>
          <a href="https://github.com/toddmotto/angularjs-styleguide">
            style guide
          </a>
        </span> specified by Todd Motto.
      </div>
    </md-card-content>
    <md-card-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary"
        href="https://www.npmjs.com/package/sottojs">
        View npm page
      </md-button>
      <md-button class="md-raised md-primary"
        href="https://github.com/bradtaniguchi/sotto">
        View Repo
      </md-button>
    </md-card-actions>
  </md-card>
</div>
